// Button Component Stylesheet
// ========================================
.button--modal {
  background-color: $red;
  padding: $spacer-s;
  color: $white;
  font-size: 1.2rem;
  border-radius: 30px;
  margin-bottom: $spacer-s;
}

.button {
  width: 80px;
  text-align: center;
  margin: auto;

  @include media ($medium) {
    width: 120px;
    float: right;
    margin-right: 20px;
  }

  &--primary {
    background-color: $red;
    color: $white;
    padding: 5% 0 5% 0;

  &:hover {
    background-color: $white;
    color: $red;
  }
}

  &--secondary {
    background-color: $black;
    color: $white;
    padding: 5% 0 5% 0;

  &:hover {
      background-color: $white;
      color: $black;
  }
}

  &--disabled {
    background-color: $gray;
    color: $white;
    padding: 5% 0 5% 0;
  }
}
.js__p_start {
  text-decoration: none;
  padding-top: 2%;

}


.p__content {
  font-size: 2rem;
  font-family: $primary-font;
}

.contactbutton {
  text-align: center;
  margin: auto;
  font-size: 1.2rem;

  &--primary {
    background-color: $red;
    color: $white;
    padding: 2% 0 2% 0;
    width: 30%;

  &:hover {
    background-color: $white;
    color: $red;
  }
}

  &--secondary {
    background-color: $black;
    color: $white;
    padding: 2% 0 2% 0;
    width: 30%;

  &:hover {
      background-color: $white;
      color: $black;
  }
}

  &--disabled {
    background-color: $gray;
    color: $white;
    padding: 5% 0 5% 0;
  }
}

.modalbutton {
  text-align: center;
  margin: auto;
  font-size: 1.2rem;

  &--primary {
    background-color: $red;
    color: $white;
    padding: 2% 0 2% 0;
    width: 20%;

  &:hover {
    background-color: $white;
    color: $red;
  }
}

  &--secondary {
    background-color: $black;
    color: $white;
    padding: 2% 0 2% 0;
    width: 20%;

  &:hover {
      background-color: $white;
      color: $black;
  }
}
&--disabled {
  background-color: $gray;
  color: $white;
  padding: 5% 0 5% 0;
}
}
