// Form Elements Stylesheet
// ========================================

// Label Styling -- Delete this if you are not using a label
.form {
  margin: auto;
  margin-top: 7%;

  background-color: $gray;
  width: 60%;
  padding: 3% 0 3% 0;
  max-width: 500px;

  @include media ($medium) {
      display: flex;

    }


  &__label{
    margin: auto;
    display: block;
    text-align: center;
    margin-bottom: $spacer-s;
  }

  // Basic Form Input Styling

  input {

  }

  // Select Form Input Styling

  select {

  }
}
