// Form Elements Stylesheet
// ========================================

// Label Styling -- Delete this if you are not using a label
.form {
  margin: auto;
  margin-top: 7%;
  background-color: $gray;
  border-color: $darkgray;
  border-style: groove;
  border-width: 3px;
  border-radius: 5px;
  padding: 1% 0 3% 0;
  max-width: 500px;

  &__label{
    margin: auto;
    display: block;
    text-align: center;
    margin-top: $spacer-s;
    font-size: 1.2rem;
  }

&__message {
  width: 70%;
  }
}
  // Basic Form Input Styling

input {
  padding: $spacer-s;
  width: 70%;
}

  // Select Form Input Styling
select {
  width: 70%;
}

.form__modal--item{
  width: 50%;
}
