// Colors Variables Settings Stylesheet
// ========================================

$black: #2a2a2A;
$red: #ff0000;
$white: #FFFFFF;
$gray: #c0c0c0;
$darkgray: #4d4d4d;
$green: #99ffbb;
$gold: #d2af00;

// Main Palette List
$colors: (
  "black":    $black,
  "red":      $red,
  "green":    $green,
  "white":    $white,
  "darkgray": $darkgray,
  "gray":     $gray,
  "gold":     $gold,
);
