// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

body {
  text-align: center;
}

.header {
  @include media($small){
  display: block;
  }
}

.header__logo {
  @include media($small){
    width: 35%;
  }
  @include media($medium){
    width: 20%;
    float: left;
    max-width: 450px;
  }
  @include media($large){
    width: 25%;
  }
}

.nav {
  @include media ($small) {
    display: block;
    }
}

.nav {
  @include media ($medium) {
    display: inline-flex;
}
  &__list a {
    display: inline;
    list-style-type: none;
    width: 100px;
    color: $red;
    text-decoration: none;
  }

  &__list--item {
    margin-left: 10px;
    display: inline-flex;
    color: $red;
    border-radius: 10%;
    margin-top: 5%;
    text-decoration: none;
    text-align: center;
  }
}
.main {
  padding: $spacer-m;
  margin-top: 13%;
  font-family: $primary-font;

  &__section {
    margin: $spacer-lg $reset-0;
  }

  &__section--img {
    width: 25%;
    display: inline-flex;
  }
}

.colors {
  text-align: center;

  &__list {
    text-align: center;
    display: flex;
    margin: auto;
    display: inline-flex;
  }

  &__list--one {
    background-color: $red;
    height: 75px;
    width: 75px;
    color: $red;
  }

  &__list--two {
    background-color: $black;
    height: 75px;
    width: 75px;
    color: $black;
  }

  &__list--three {
    background-color: $white;
    height: 75px;
    width: 75px;
    color: $white;
    border-color: $black;
    border-width: 1px;
    border-style: groove;
    margin-left: 5px;
  }

  &__list--ones {
    background-color: $red;
    height: 75px;
    width: 75px;
    color: $red;
  }

  &__list--twos {
    background-color: $green;
    height: 75px;
    width: 75px;
    color: $green;
  }


  &__list--onea {
    background-color: $gray;
    height: 75px;
    width: 75px;
    color: $gray;
  }

  &__list--twoa {
    background-color: $darkgray;
    height: 75px;
    width: 75px;
    color: $darkgray;
  }

  &__list--threea {
    background-color: $gold;
    height: 75px;
    width: 75px;
    color: $gold;
  }
}

.item-container {
    margin: $spacer-m $reset-0;
}

.footer {
  width: 100%;
  background-color: $darkgray;
  padding: 2%;
  color: $white;
  text-align: center;
  margin-top: 10%;
}
