// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================

body {
  text-align: center;
}

.header {
  @include media($small){
  display: block;
  }
}

.header__logo {
  @include media($small){
    width: 35%;
  }
  @include media($medium){
    width: 20%;
    float: left;
    max-width: 450px;
  }
  @include media($large){
    width: 25%;
  }
}

.nav {
  @include media ($small) {
    display: block;
    }
}

.nav {
  @include media ($medium) {
    display: inline-flex;
}
  &__list a {
    display: inline;
    list-style-type: none;
    width: 100px;
    color: $red;
    text-decoration: none;
  }

  &__list--item {
    margin-left: 10px;
    display: inline-flex;
    color: $red;
    border-radius: 10%;
    margin-top: 5%;
    text-decoration: none;
    text-align: center;
  }
}
.main {
  margin: $spacer-m;
  margin-top: 13%;
  font-family: $primary-font;

  &__section {
    display: block;

@include media ($medium) {
    display: flex;
  }
}
  &__section--img {
    width: 50%;

  }
}

.mainabout {
  font-family: $primary-font;


  &__section--one {
    display: block;
margin: 5% 5% 2% 5%;
}

  &__section--img {
    margin-top: $spacer-m;
    width: 70%;
  }

  &__section--two {
    background-color: $black;
    color: $white;
    padding: 1%;
  }
}

.mainabout__testimony {
  display: block;


  @include media ($medium) {
      display: flex;
    }

}

.mainabout__desc {
  font-size: .8rem;
  width: 60%;
  margin: auto;
}

.item-container {
  margin-top: 3%;
}

.footer {
  width: 100%;
  background-color: $darkgray;
  padding: 2%;
  color: $white;
  text-align: center;
  margin-top: 10%;
}
